*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #000;
}
.wrapper{
    color: white;
    width: 90%;
    margin: 2rem auto;
}
.wrapper h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.tab{
    text-align: center;
    margin-bottom: 2rem;
}
.tab label{
    padding: 12px 15px;
    color: white;
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
}
.tab label:hover{
    background: white;
    color: black;
}
.tab button{
    background: transparent;
    color: currentColor;
    border: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    pointer-events: none;
}
[type="radio"]{
    display: none;
}
[type="radio"]#all:checked ~ .tab [for="all"],
[type="radio"]#video:checked ~ .tab [for="video"],
[type="radio"]#media:checked ~ .tab [for="media"],
[type="radio"]#illustration:checked ~ .tab [for="illustration"]{
    background: red;
    color: white;

}
.tab__menu > div{
    display: none;
}
[type="radio"]#all:checked ~ .tab__menu .tab__menu--all,
[type="radio"]#video:checked ~ .tab__menu .tab__menu--video,
[type="radio"]#media:checked ~ .tab__menu .tab__menu--media,
[type="radio"]#illustration:checked ~ .tab__menu .tab__menu--illustration{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 24%;
    margin: .5%;
    height: 300px;
    box-shadow: 0 0 6px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 25px;
    animation: .5s linear animateCard forwards;
    opacity: 0;
    animation-delay: var(--delay);
}
@keyframes animateCard {
    0%{
        opacity: 0;
        transform: translate(100px, 100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}